    <div class="d-flex flex-column min-vh-100">
        <div class="container-login100">
            <!-- In your login layout outside the login box -->
            <div class="bubble bubble-left"></div>
            <div class="bubble bubble-right"></div>
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <div class="login-header d-flex align-items-center justify-content-center gap-3 mb-5">
                        <img src="assets/img/cba-icon-preto.png" alt="Company Logo" style="width: 50px; height: auto;">
                        <h2 class="mb-0" style="font-family: Poppins-Bold; color: #333;">
                            {{ section.text }}
                        </h2>
                    </div>
                    <!-- <span class="login100-form-title p-b-48">
                        <i class="zmdi zmdi-font"></i>
                    </span> -->

                    <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                        <input class="input100" type="text" name="email">
                        <span class="focus-input100" data-placeholder="{{ section.email }}"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100" data-placeholder="{{ section.password }}"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                {{ section.btn }}
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
                        <span class="txt1">
                            {{ section.foot }}
                        </span>
                        <a class="txt2" href="#">
                            {{ section.signup }}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>